$black: #000000;
$light-gray: #6d6d6d;
$gray: #494949;
$purple: #8445bf;
// $light-red: #564394;
$light-green: #f0f7f0;
$white: #ffffff;

//screen sizes
$mobile: 400px;
$tablets: 768px;
$small-screens: 1024px;
$large-screen: 1200px;
