.content_main {
  margin: 14rem auto;
}

.content_figure {
  height: 30rem;
  margin: 4rem auto 10rem auto;
  width: 80%;
  display: flex;
  align-items: center;
  position: relative;
  &__text {
    width: 100%;
    margin: auto;
    text-align: center;
    &_quote {
      font-size: 2.5rem;
      font-weight: 700;
      color: $purple;
      position: relative;
      &::before {
        content: '\201C';
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        position: absolute;
        top: -4rem;
      }
    }
    &_author {
      font-size: 1.7rem;
      margin-top: 2rem;
    }
  }
  &__image {
    display: none;
    width: 50%;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $purple;
    width: 90%;
    height: 0.3rem;
    bottom: -4rem;
    left: 5%;
  }
}

.content_bottom {
  min-height: 80vh;
  background-color: $light-green;
  padding-top: 1rem;
  &__header {
    color: $purple;
    font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
    margin: 5rem auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $purple;
      width: 4rem;
      height: 0.5rem;
      bottom: -3rem;
      left: calc((100% - 4rem) / 2);
    }
  }
}

@media (min-width: $tablets) {
  .content_figure {
    height: 30rem;
    margin: 4rem auto 10rem auto;
    width: 70%;
    &__text {
      width: 45%;
      margin: 10% auto auto 10%;
      text-align: left;
      &_quote {
        font-size: 2.5rem;
        font-weight: 700;
        color: $purple;
        position: relative;
        &::before {
          content: '\201C';
          font-size: 4rem;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 800;
          position: absolute;
          top: -4rem;
        }
      }
      &_author {
        font-size: 1.7rem;
        margin-top: 2rem;
      }
    }
    &__image {
      display: block;
      width: 50%;
    }
    &::before {
      content: '';
      position: absolute;
      background-color: $purple;
      width: 90%;
      height: 0.3rem;
      bottom: -4rem;
      left: 5%;
    }
  }
}
