.content_main {
  margin: 14rem auto;
  font-family: 'Roboto', sans-serif;
}

.content_figure {
  height: 30rem;
  margin: 4rem auto 10rem auto;
  width: 55%;
  display: flex;
  align-items: center;
  position: relative;
  &__text {
    width: 45%;
    margin: 10% auto auto 10%;
    &_quote {
      font-size: 2.5rem;
      font-weight: 700;
      color: $purple;
      position: relative;
      &::before {
        content: '\201C';
        font-size: 4rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
        position: absolute;
        top: -4rem;
      }
    }
    &_author {
      font-size: 1.7rem;
      margin-top: 2rem;
    }
  }
  &__image {
    // height: 100%;
    width: 50%;
  }
  &::before {
    content: '';
    position: absolute;
    background-color: $purple;
    width: 90%;
    height: 0.3rem;
    bottom: -4rem;
    left: 5%;
  }
}

.content_bottom {
  min-height: 80vh;
  // background-image: url(../images/design/bg-texture.jpg);
  background-color: $light-green;
  padding-top: 1rem;
  &__header {
    color: $purple;
    // font-family: 'Roboto', sans-serif;
    font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
    margin: 5rem auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: $purple;
      width: 4rem;
      height: 0.5rem;
      bottom: -3rem;
      left: calc((100% - 4rem) / 2);
    }
  }
}
