.hero {
  height: 100vh;
  background-image: url(../images/design/hero.jpg);
  background-size: 400%;
  background-position: bottom;
  overflow: hidden;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  &__header {
    // min-width: 73rem;
    color: $purple;
    font-size: 4rem;
    text-align: center;
    margin: 18% auto 0 auto;
    &--big {
      font-size: 6rem;
      line-height: 6rem;
    }
  }
  &__subheader {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem auto auto;
    text-align: center;
  }
  &__button {
    border: none;
    color: $white;
    background-color: $purple;
    padding: 0.7rem 4rem 0.8rem 5rem;
    max-width: 30rem;
    opacity: 0.8;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5rem;
    border-radius: 3rem;
    margin: auto auto 20% auto;
    display: block;
    cursor: pointer;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 5.5rem;
      left: calc(50% - 2rem);
      background: $purple;
      width: 4rem;
      height: 2rem;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
    }
    &:hover {
      transform: scale(1.02);
      transition: transform 0.2s ease-out;
    }
    &:hover::after {
      animation-name: scroll-arrow;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

@media screen and (orientation: landscape) and (min-width: $small-screens) {
  .hero {
    background-position: 43% 10%;
    background-repeat: no-repeat;
    background-size: 130%;
    &__header {
      margin: 10% auto 0 auto;
      font-size: 7.5rem;
      &--big {
        font-size: 10rem;
        line-height: 6rem;
      }
    }
    &__subheader {
      font-size: 2.5rem;
    }
    &__button {
      font-size: 2.5rem;
      margin: auto auto 5% auto;
    }
  }
}
